.cartHead {
    width: 100%;
    font-size: 0.46rem;
    color: #ffffff;
    background: #f68b39;
    line-height: 1.5rem;
    text-align: center;
  }
  .cartP {
    .cartImg {
      margin-left: 3.5rem;
      margin-top: 3rem;
      width: 3.92rem;
      height: 3.17rem;
    }
    img {
      width: 100%;
      height: 100%;
    }
    p {
      font-size: 0.5rem;
      color: #333333;
      font-weight: 700;
      text-align: center;
      margin-bottom: 0.33rem;
      margin-top: 0.59rem;
    }
    span {
      font-size: 0.33rem;
      color: #666666;
      display: block;
      text-align: center;
    }
  }
  //底部导航
  .tabfoot {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 1.65rem;
    margin-top: 3.08rem;
    border-top: 0.03rem solid #e0e0e0;
    background: #ffffff;
    .tabfoot1 {
      li {
        float: left;
        width: 1.05rem;
        height: 1.22rem;
        margin-left: 1.9rem;
        margin-top: 0.17rem;
        display: inline-block;
        text-align: center;
        position: relative;
        .footImg2 {
          display: none;
        }
        img {
          position: absolute;
          height: 0.67rem;
          width: 0.69rem;
          left: 0.2rem;
        }
        p {
          text-align: center;
          margin-top: 0.9rem;
          color: black;
        }
        .footP {
          color: #e96e04;
        }
      }
    }
  }